.App {
  text-align: center;
}

.main-page {
  border-bottom: 12px solid #dc3;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 825px) {
  .main-page {
    flex-direction: column;
  }
}